.headroom{
    z-index: 4 !important;
}

.bar{
    z-index: 4;
    width: auto;
    height: 120px;
    transition: top 0.6s;
    width: 100%;
}

.navbar--hidden {
    top: -50px;
}

nav {
    float: right;
    padding: 0 18% 0 0;
}

li, a, button {
    margin-top: 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: #ee2639 !important;
    text-decoration: none;
    margin-left: 20px;
}

.buttonContact{
    transition: all 0.3s ease 0s;
    display: inline-block;
}

.buttonContact:hover{
    transform: translate(0,-3px);
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.nav__links{
    list-style: none;
    padding: 20px;
}

.nav__links li {
    display: inline-block;
    padding:  0px 30px;
}

.nav__links li a{
    transition: all 0.2s ease 0s;
}

.nav__links li a:hover{
    color:  turquoise !important;
}